# ===== IntelliJ =====
.idea/
*.iml
*.ipr
*.iws
out/

# ===== macOS =====
.DS_Store

# ===== Maven =====
**/target/
**/.flattened-pom.xml
**/dependency-reduced-pom.xml

!**/.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.properties
!**/mvnw
!**/mvnw.cmd

# ===== Logs =====
**/*.log